<h1><%= @task.title %></h1>

<h2><%= @task.details %></h2>
<%= label :completed %>
<%= check_box :completed, :as => :boolean, checked:false %>
<%= link_to tasks_path do %>
  Back to the List
<% end %>
<br>
<%= link_to edit_task_path do %>
 Edit task
 <% end %>
 <br>
<%= link_to "Delete task", task_path(@task), method: :delete %>
